<header class="navbar">

    <section class="navbar-section center centered p-centered">
        <!-- temperatūras tabulā ar vidējo aritmētisko (yr.no, meteo, sat24, tvnet, openweather) -->
        <a href="/" class="btn btn-link">Current</a>
        <!-- visas temperatūru prognozes grafikā ar vidējo aritmētisko pa stundām  (yr.no, meteo, sat24, tvnet, openweather) -->
        <a href="/prognosis" class="btn btn-link">Prognosis</a>
        <!--no meteo, sat24, openweather un suncalc-->
        <a href="/satelites" class="btn btn-link">Satelite</a>
        <!-- kkāds veids, kā cilvēki var likt savu prognozi un vai derēt uz prognozi ar citiem un pelnīt tā -->
        <!-- <a href="/bet" class="btn btn-link">Make Your Prognosis</a> -->
        <!-- linki ar (apakšnavbar) kā noteikt laiku pēc mākoņiem un uz solarcalc un mooncalc-->
        <!-- <a href="/links" class="btn btn-link">Weather Links</a> -->
        <!-- jaunumi par debess parādībām -->
        <!-- <a href="/news" class="btn btn-link">Astrological and Meteorological news</a> -->
    </section>

</header>